	/*Definir el margen y el tipo de letra que tendra la pagina (Lo que no este dentro de "Class")*/
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}

	/*El color de fondo de la pagina (No aplica para lo que este dentro de "Class")*/

	body{
		background-color: white;
	}

	/*Se colocan los valores de la capa de mi menu de navegador*/

	.capa{
		position: fixed;
		width: 100%;
		height: 15%;
		background-color: background: #614385;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


;
		z-index: -1;
		top: 0;left: 0;
	}

	/*Estilos para el encabezado*/

	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: white;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: white;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: white;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 115vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}


	

/*El tamaño que llevaran los dos cuadrados izq y der (donde ira el contenido de la pagina web), tipo de letra y color de fondo de cada cuadro*/

html, body {
            height: 75%;
            margin: 0;
            padding: 0;
        }
        
        .lado {
            display: flex;
            height: 70%;
            margin-top: 1%;
        }
        
        .izquierda, .derecha {
            flex: 1;
            font-family: cursive;
            text-align-last: center;
        }
        
        .izquierda {
            background-color: #FFFFFF;
        }
        
        .derecha {
            background-color: #FFFFFF;
        }

 

/*Modificación de letra y color de mi nombre*/

.name{
color: skyblue;
size: 20px;
}
/*Color del el titulo Curriculum vitae*/
.cv{
color: #BA4A00;
}





/*Imagenes del final con el enlace para regresar al principio o al final de la pagina, se modifica el fondo, tamaño y posicionamiente de la imagen*/

.imagenes{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
    margin-top: 1%;
    background-color: background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 0%;
}
.imagenes .imagen{
    position: relative;
    display: center;
    flex: 1;
   
}
.imagenes .imagen img{
    width: 150px;
    height: 150px;
    transition: transform 0.32s ease-in-out;
}


.imagenes .imagen:hover img{
transform: translateY(-20px);
}

@media (max-width: 680px){
    .imagenes{
        flex-direction: column;
        height: 180vh;
    }
}


/*Funcion para que en el momento de presionar un enlace (imagen de pokemon) la transacción sea suave*/
       html{
scroll-behavior: smooth;
      }

      /*Color de la letra de clase "letter"*/

     .letter{
color: white;
     }

